<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сохраненные заказы</title>
</head>
<body>
    <h1>Сохраненные заказы</h1>

    <table border="1">
        <tr>
            <th>№</th>
            <th>Артикул</th>
            <th>ID</th>
            <th>SKU</th>
        </tr>
        {% for order in orders_data %}
            <tr>
                <td>{{ order.no }}</td>
                <td>{{ order.article }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.skus }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
